<br>
<h1>Dashboard</h1>
<br>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Completion (percentage of tasks complete)</th>
      <th>Overdue Tasks (count)</th>
    </tr>
  </thead>
  <tbody>
    <% Project.all.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.percentage %>% </td>
        <td><%=  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
